body{
    font-size: 20px;
}

.img{
    display: flex;
    justify-content: center;
}

header{
    background-color: #808080;
    border: 1px solid #0000FF;
}

img{
    width: 90px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

h2{
    color: #0000FF;
}

#texte, #liste{
    background-color: #808080;
    border: 1px solid #0000FF;
}

a{
    color: #0000FF;
}

#texte{
    padding-left: 20px;
}

table{
    border: 1px solid #0000FF;
    border-spacing: 3px;
}

th{
    background-color: #808080;
    border: 1px solid #0000FF;
}

td{
    border: 1px solid #0000FF;
}
